.dark path {
  fill: #1b1c24;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
}

.dark path:hover {
  fill: #363848;
}

.light path {
  fill: #1e8346;
  fill-opacity: 1;
  stroke: #95bec8;
  stroke-opacity: 1;
  stroke-width: 0.5;
}

.light path:hover {
  fill: #66ab82;
}
